<?xml version="1.0" encoding="utf-8"?>
<Game
  configVersion="0">
  <Identity
    Name="YoYoGames.GameMakerStudioGDK"
    Version="2.0.0.0"
    Publisher="CN=F8571D3B-963E-426B-AC82-61B80E2FDE0F" />
  <ShellVisuals
    PublisherDisplayName="YoYo Games"
    DefaultDisplayName="GameMakerStudio GDK"
    StoreLogo="StoreLogo.png"
    Square150x150Logo="Square150x150Logo.png"
    Square44x44Logo="Square44x44Logo.png"
    Square480x480Logo="default480x480.png"
    SplashScreenImage="SplashScreenImage.png" />
  <ExecutableList>
    <Executable Name="GDK_API_Demo.exe" Id="Game"/>
    <!--    TargetDeviceFamily="PC"
            IsDevOnly="false" | IsDevOnly specifies if is a Development only executable.
            OverrideDisplayName="Xbox Game Override"
            OverrideLogo="GraphicsLogoOverride.png"
            OverrideSquare44x44Logo="SmallLogoOverride.png"
            OverrideSplashScreenImage="SplashScreenOverride.png" -->
  </ExecutableList>
  <StoreId>9PG1T6N6MRBD</StoreId>
  <MSAAppId>000000004483A00D</MSAAppId>
  <TitleId>6A2A0983</TitleId>
  <ExtendedAttributeList>
    <ExtendedAttribute Name="SandboxIds" Value="NNEKZS.0,NNEKZS.58,YOYO.0,YOYO.1,YOYO.42" />
    <ExtendedAttribute Name="Scid" Value="00000000-0000-0000-0000-00006a2a0983" />
  </ExtendedAttributeList>
  <DesktopRegistration>
    <DependencyList>
      <KnownDependency Name="VC14" />
    </DependencyList>
    <ProcessorArchitecture>x64</ProcessorArchitecture>
    <MultiplayerProtocol>false</MultiplayerProtocol>
  </DesktopRegistration>
  <AdvancedUserModel>true</AdvancedUserModel>
</Game>